<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.CategoriesMapper">

    <resultMap id="CategoriesResult" type="Categories">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="description" column="description"/>

        <result property="status" column="status"/>

        <result property="creationdate" column="creationdate"/>
        <result property="modificationdate" column="modificationdate"/>
    </resultMap>

    <insert parameterType="map" id="agregarCategoria">
        insert into categories (value,description,status,creationdate,modificationdate) values(#{category.value},#{category.description},#{category.status},current_date,current_date)
    </insert>

    <update parameterType="map" id="ModificarCategoria">
        update categories set value=#{upvalue}, description=#{updescription}, status=#{upestado}, modificationDate=current_date
        WHERE value=#{oldvalue}
    </update>

    <select parameterType="map" id="traerValuesCategories" resultMap="CategoriesResult">
        select *
        FROM categories
        WHERE value=#{oldvalue}
    </select>

    <select parameterType="map" id="traerCategories" resultMap="CategoriesResult">
        select *
        FROM categories
    </select>

    <select parameterType="map" id="nameCategorie" resultMap="CategoriesResult">
        select value
        FROM categories
        WHERE id=#{id}
    </select>

</mapper>