<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.NeedsMapper">
    <resultMap id="NeedsResult" type="Needs">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="creationdate" column="creationdate"/>
        <result property="modificationdate" column="modificationdate"/>
        <result property="category_id" column="category_id"/>
        <result property="urgencia" column="urgencia"/>
    </resultMap>

    <insert parameterType="map" id="agregarNecesidades">
        insert into needs (value,description,status,creationdate,modificationdate,category_id,urgnecia) values(#{need.value},#{need.description},#{need.status},current_date,current_date,#{need.category_id},#{need.urgencia})
    </insert>

    <select parameterType="map" id="traerValuesNeeds" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE value=#{oldvalue}
    </select>

</mapper>