<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.cvds.dao.mybatis.mappers.NeedsMapper">
    <resultMap id="NeedsResult" type="Needs">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="creationdate" column="creationdate"/>
        <result property="modificationdate" column="modificationdate"/>
        <result property="category_id" column="category_id"/>
        <result property="urgencia" column="urgencia"/>
        <result property="idsolicitante" column="idsolicitante"/>
    </resultMap>

    <insert parameterType="map" id="agregarNecesidades">
        insert into needs (value,description,status,creationdate,modificationdate,category_id,urgencia,idsolicitante) values(#{need.value},#{need.description},#{need.status},current_date,current_date,#{need.category_id},#{need.urgencia},#{need.idsolicitante})
    </insert>

    <select parameterType="map" id="traerValuesNeeds" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE value=#{oldvalue}
    </select>

    <select parameterType="map" id="cantidadNeedsUser" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE idsolicitante=#{thisidsolicitante}
    </select>

    <select parameterType="map" id="NeedsToAnswer" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE status=1 or status=2;
    </select>

    <select parameterType="map" id="AllNeeds" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE (idsolicitante=#{id} or #{rol}=1) and (status=1 or status=2)
        order by category_id;
    </select>

    <select parameterType="map" id="AllNeedsFilterCategory" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE (idsolicitante=#{id} or #{rol}=1) and (category_id=#{category})
        order by category_id;
    </select>

    <select parameterType="map" id="AllNeedsFilterStatus" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE (idsolicitante=#{id} or #{rol}=1) and (status=#{status})
        order by category_id;
    </select>

    <select parameterType="map" id="AllNeedsFilterCategoryStatus" resultMap="NeedsResult">
        select *
        FROM needs
        WHERE (idsolicitante=#{id} or #{rol}=1) and (category_id=#{category} and status=#{status})
        order by category_id;
    </select>

    <update parameterType="map" id="ModificarEstadoNeed">
        update needs set status=#{newstatus}
        WHERE value=#{value}
    </update>

    <select parameterType="map" id="NeedName" resultMap="NeedsResult">
        select value
        FROM needs
        WHERE id=#{id}
    </select>
</mapper>