.login-form {
  margin: 50px auto;
  font-size: 15px;
}
.login-form form {
  margin-bottom: 15px;
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}

.body {
  display: block;
  background-color: #B40001;
  height: 100vh;
  margin: 0%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0%;
}

.title {
  font-size: 60px;
  color: white;
}